<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>CryptoPunks</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for( 'static', filename='css/login.css')}}"/>
  <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <h1 class="text-center text-white mb-4 welcome">Добро пожаловать в CryptoPunks</h1>
        <form class="centralised">
          <div class="form-group">
            <input type="text" class="form-control custom-text" id="email" name="email" placeholder="Введите ваше email" required>
          </div>
          <div class="form-group">
            <input type="password" class ="form-control custom-text" id="password" name="password" placeholder="Введите пароль" required>
          </div>   
          <div class="text-center">
            <button type="submit" class="btn btn-primary custom-button" id="join-btn">Лэдс гиринг!</button>
          </div>
          <div class="subline">
            <p> Забыли пароль? <a class="link" href="{{ url_for('main.forgot_psw') }}"> Восстановление пароля </a></p>
            <p> Нет аккаунта? <a class="link" href="{{ url_for('main.registration') }}"> Регистрация </a> </p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
