<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Сброс пароля</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}"/>
  <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <h1 class="text-center text-white mb-4 welcome">Сброс пароля</h1>
        <form class="centralised">
          <div class="form-group">
          <div class="form-group">
            <input type="text" class="form-control custom-text" id="username" name="username" placeholder="Введите ваше имя" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control custom-text" id="newpassword" name="newpassword" placeholder="Введите новый пароль" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control custom-text" id="confirm-newpassword" name="confirm-newpassword" placeholder="Подтвердите пароль" required>
          </div>
          <div class="text-center">
            <button class="btn btn-primary custom-button" id="forgot-btn">Подтвердить</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/forgot_psw.js')}}"></script>
</body>
</html>
